
.container {
  padding: 20px;

  .mat-card {
    margin: 20px 0;

    &.card-list {
      .mat-card-header {
        justify-content: flex-end;
      }
    }
  }

  .container-report {
    display: flex;
    justify-content: space-between;

    .mat-card-header {
      display: flex;
      justify-content: center;
    }
  }
}

.form {
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  

  .mat-card-actions {
    text-align: center;
  }


  .pictures {
    display: flex;
    justify-content: space-evenly;

    .w24 {
      width: 24px;
      flex: 0;
    }
  }
 