
.container {
  padding: 20px;

  .mat-card {
    margin: 20px 0;
  }
}

.form {
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  

  .mat-card-actions {
    text-align: center;
  }